:root{
    --banner_color:rebeccapurple;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: sans-serif;
}

body{
    width:100vw;
    height: 100vh;
}

h3{
    font-size: 1.8em;
    color:var(--banner_color);
    padding-left: 25px;
}

/*
-------------------------------------
Banner styling
*/
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width:100vw;
    height:100px;
    background-color:var(--banner_color);
    color:white;
    padding: 5px 10px;
}

#personal_details{
    display: flex;
    flex-direction: column;
}


#navi_list ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

#navi_list li{
    padding: 0 5px;
}

#navi_list a{
    color:white;
    text-decoration: none;
}

#navi_list a:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1em;
}

@media only screen and (max-width:550px){
    #navi_list ul{
        flex-direction: column;
    }
}
/*
------------------------------------------
"About Me" section
*/
#about_me{
    width:100vw;
    height: 275px;
    padding: 10px 50px;
    overflow: auto;
}

#client_img_section{
    float:left;
    max-width:25%;
    margin-right:20px;
}

#client_img{
    max-width:100%;
    max-height:250px;
}

#about_me_info p{
    color:rgb(99, 99, 99);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}
/*
------------------------------------------
Skills section
*/
#skills{
    width:100vw;
}

#skill_set{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:390px) {
    #skill_set{
        justify-content: center;
    }
}

.skill_item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:175px;
    height:125px;
    margin:20px 10px;
    padding: 5px 10px 10px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    box-shadow: lightgrey 0 0 5px 2px;
}

.skill_item img{
    width:40px;
    height:40px;
}

/*
------------------------------------------
Projects section
*/
#projects{
    width: 100vw;
    margin-bottom: 10px;
}

#project_container{
    width: 100%;
    padding-left: 50px;
}

#project_container :nth-child(n){
    margin-top: 10px;
}

.project_item{
    display: flex;
    padding-left: 25px;
}

.project_item span{
    padding-right: 5px;
}

#project_container hr{
    width:75%;
    justify-self: center;
    padding-left: -50px;

}

/*
------------------------------------------
Recommendations section
*/
#recommendations{
    width: 100vw;
}

#recommendation_container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.recommendation_item{
    width:300px;
    border: 1px solid grey;
    border-radius: 10px;
    padding:10px;
    margin:10px;
    font-style: oblique;
    font-weight: bolder;
}

#recommendation_form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 75%;
    max-width: 500px;
    margin-bottom: 50px;
}

#recommendation_form h4{
    font-size:1.25em;
}

#userName{
    width:100%;
    border: 1px solid black;
}

#recommendation_quote{
    width: 100%;
    resize: both;
    border: 1px solid black;

}

#submit{
    font-size: 1.2em;
    width: 25%;
    max-width: 250px;
    align-self: center;
    background-color: white;
    color:var(--banner_color);
    padding:5px;
    margin-top: 30px;
    border: 1px solid var(--banner_color);
    border-radius: 5px;
}
/*
------------------------------------------
Recommendations section
*/
footer{
    width: 100vw;
    display: flex;
    justify-content: end;
    font-size: 2.5em;
    color: var(--banner_color);
    position: sticky;
    bottom:0;
}

footer a{
    color:inherit;
}

